/*#region RegionName*/

/*#endregion RegionName*/



/*#region Regola Di Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*#endregion Regola Di Reset */

/*#region regole per dimensionare i blocchi, andranno cancellate-------------------*/
header,footer{
    background-color: beige;
}

#header_content{
    background-color: red;
    height: 600px;
}

#footer_content{
    background-color: black;
    height: 400px;
}

section{
    border: 1px solid black;
    height: 800px;
    background-color: antiquewhite;
}

.call_to_action_container{
    background-color: aqua;
}

.brands{
    background-color: aquamarine;
    height: 300px;
}

.plan.float_left{
border:1px solid black;
height: 200px;
}

.enterprise{
    height: 100px;
    border:1px solid black;
}
/*#endregion*/ /* -----------------------------------------------------------------*/

/*#region Regole di Utility*/
.clearfix{
    display: table;
    content: "";
    clear: both;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}
/*#endregion*/

/*#region Regole Generali*/
a{
    text-decoration: none;
}

#header_content,#footer_content{
    width: 1440px;
    margin: auto;
}

section{
    width: 1080px;
    margin: auto;
}
/*#endregion*/

/*#region Regole site_main*/
.plan.float_left{
width: 30%;
}

.standard{
    margin-left: 5%;
    margin-right: 5%;
}

.enterprise{
    width: 100%;
    margin-top: 53.891px;
}
/*#endregion*/