/*#region RegionName*/

/*#endregion*/



/*#region Regola Di Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*#endregion Regola Di Reset */

/*#region Variabili con ":root" selector*/
:root{
    --primary_color:#B4D0E7;
    --secondary_color:#0061FF;
    --dark_color:#000000;
    --prominence_color:#61082B;
    --light_color:white;
}
/*#endregion*/

/*#region regole per dimensionare i blocchi, andranno cancellate-------------------*/
header,footer{
    background-color: beige;
}

#footer_content{
    background-color: black;
    height: 400px;
}

section{
    border: 1px solid black;
    height: 800px;
    background-color: antiquewhite;
}

.call_to_action_container{
    background-color: aqua;
}

.brands{
    background-color: aquamarine;
    height: 300px;
}

.plan.float_left{
border:1px solid black;
height: 200px;
}

.enterprise{
    height: 100px;
    border:1px solid black;
}
/*#endregion*/ /* -----------------------------------------------------------------*/

/*#region Regole di Utility*/
.clearfix{
    display: table;
    content: "";
    clear: both;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.button{
    background-color: var(--secondary_color);
    font-size:13px;
    color: var(--light_color) !important;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
 }
/*#endregion*/

/*#region Regole Generali*/
body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

p{
    font-size: 16px;
}

ul{
    list-style: none;
}

#header_content,#footer_content{
    width: 1440px;
    margin: auto;
}

section{
    width: 1080px;
    margin: auto;
}

h1{
    font-size: 85px;
    font-weight: 700;
}
/*#endregion*/

/*#region Regole site_header*/
#site_header{
    background-color: var(--primary_color);
}

#header_content{
    padding-top: 4rem;
    padding-bottom: 6rem;
    position: relative;
}

#site_navbar{
    padding:1rem;
    background-color:var(--light_color);
    width: 100%;
    min-width: 1440px;
    
}

.logo img{
    vertical-align: middle;
    padding-right: 16px;
}
 #site_navbar .clearfix>a, .float_left a{
    padding-left: 16px;;
    padding-right: 16px;
    color: var(--dark_color);
    line-height: 30px;
 }

 #site_navbar .button{
    margin-left: 16px;
 }


 #header_content p{
     width: 25%;
     font-weight: 400;
     line-height: 1.5rem;
     padding-top: 2rem;
     padding-bottom: 2rem;
 }

 .arrow_down{
     font-size: 2.5rem;
 }

 #header_content img{
     width: 60%;
     position: absolute;
     right: -1rem;
     bottom: -4.5rem;
 }
/*#endregion*/

/*#region Regole site_main*/
.plan.float_left{
width: 30%;
}

.standard{
    margin-left: 5%;
    margin-right: 5%;
}

.enterprise{
    width: 100%;
    margin-top: 53.891px;
}
/*#endregion*/

