/* #region reset rule */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion */

/* #region color palette */
:root{
    --primary_color:#B4D0E7;
    --secondary_color:#0061FF;
    --dark_color:#000000;
    --prominence_color:#61082B;
    --light_color:white;
}
/* #endregion */

/* #region utility classes */
.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}

.icon{
 width: 8%;
}

.icon_text{
    width: 92%;
}

/* blue button */
.blue_btn{
    display: inline-block;
    color: var(--light_color) !important;
    background-color: var(--secondary_color);
    font-size: 13px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

/* large container for header and footer content */
.lg_container{
    width: 1200px;
    margin: auto;
}

/* medium container for sections */
.md_container{
    width: 950px;
    margin: auto;
}
/* #endregion */

/* #region general rules*/
    body{
        font-family:'Open Sans', sans-serif;
    }

    a{
        text-decoration: none;
    }

    h1{
        display: inline-block;
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2{
        font-size: 36px;
        font-weight: 700;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 24px;
    }

    h5{
        font-size: 20px;
    }

    p{
        margin: 1.25rem 0 1.25rem 0;
        font-weight: 500;
    }

    ul{
        list-style: none;
    }

    li{
        line-height: 1.75rem;
        font-size: 14px;
        font-weight: 500;
    }
/* #endregion */

/* #region header properties */
    #site_header{
        background-color: var(--primary_color);
    }

    /* #region navbar properties */
    #site_navbar{
        background-color: var(--light_color);
        padding: 1.25rem;
        min-width: 1440px;
    }

    #site_navbar>.float_left{
        width: 50%;
    }

    .logo>img{
        vertical-align: bottom;
    }

    .links_nav>a{
        vertical-align: middle;
        margin-left: 2.5rem;
        color: var(--dark_color);
        font-weight: 500;
    }
    /* #endregion navbar*/

    /* #region header img and text content */
    .header_content{
        padding: 4.5rem 0 4.5rem 0;
        position: relative;
    }

    .header_content>p{
        width: 35%;
    }

    .header_content>.blue_btn{
        font-size: 16px;
        margin: 0.5rem 0 0.5rem 0;
    }

    .header_content>.cancel{
        font-size: 15px;
        font-weight: 500;
    }

    .arrow{
        font-size: 3rem;
        margin-top: 2rem;
    }

    .header_content>img{
        width: 65%;
        position: absolute;
        right: -1rem;
        bottom: -4rem;
    }
    /* #endregion header content */
/* #endregion header*/

/* #region  main properties*/
    /* #region plans section */
    .plans_section .md_container{
        padding-top: 11rem;
        margin-bottom: 10rem;
    }

    .billing{
        margin: 3rem 0 2rem 0;
    }

    [type="radio"]{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
    }

    label{
        margin-right: 1rem;
    }

    .try_free a{
        width: 100%;
    }

        /* #region vertical plan */
        .vertical_plan{
            width: 30%;
            border: 1px solid lightgray;
        }

        .horizontal_plan{
            border: 1px solid lightgray;
            width: 100%;
            margin-top: 47.5px;
        }

        .standard{
            margin: 0 5% 0 5%;
        }

        .intended_use{
            border-bottom: 1px solid lightgray;
            text-align: center;
            padding: 0.7rem 0 0.7rem 0;
        }

        .specifications{
        padding: 0 1.25rem 0 1.25rem;
        font-size: 14px;
        font-weight: 500;
        }

        .vertical_plan .specifications{
            height: 950px;
        }

        .specifications h4{
            margin-top: 1.5rem;
        }

        .specifications strong{
            font-size: 16px;
        }

        .price{
            margin: 0.5rem 0 0.5rem 0;
        }

        .billing_period{
            margin-bottom: 2.5rem;
        }

        .vertical_plan>.specifications>.clearfix{
            margin-top: 1.25rem;
        }

        .try_free{
            text-align: center;
            margin: 2.5rem 0 1.5rem 0;
        }

        .buy_now{
            margin-bottom: 1.5rem;
        }

        .buy_now a{
            display: inline-block;
            color: var(--secondary_color);
            border-bottom: 1px solid var(--primary_color);
            height: 1rem;
        }

        hr{
            height: 0px;
            border: none;
            border-top: 1px solid lightgrey;
            width: 3rem;
            padding-bottom: 2.5rem;
        }

        .bullet_point .icon{
            color: var(--secondary_color);
        }

        .enterprise_btn a{
            width: 100%;
        }
        /* #endregion vertical plan */

        /* #region horizontal plan */
        .enterprise_text{
            width: 67%;
        }

        .enterprise_btn{
            width: 33%;
            text-align: center;
            margin-top: 1.5rem;
        }
        /* #endregion horizontal plan */
    /* #endregion plans */

    /* #region partners section */
        .partners_section{
            margin-bottom: 6rem;
        }

        .partners_img{
           width: 55%;
        }

        .partners_text{
            width: 45%;
            padding: 2rem 0 0 3rem;
        }

        .partners_text p{
            line-height: 1.75rem;
            font-weight: 500;
        }

        .partners_text a{
            border: 1px solid black;
            color: black;
            padding: 0.5rem 1rem 0.5rem 1rem;
            font-weight: 500;
        }

        .partners_text div{
            margin-top: 2rem;
        }

        .partners_img img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            vertical-align: bottom; /* serve a togliere quello spazio maledetto che si crea quando metti un img in un div */
        }

    /* #endregion partners section */
    
    /* #region  functions section*/


        .function_window{
            width: 33.33333%;
            height: 600px;
            padding-right: 3rem;
        }

        .window_img img{
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .functions_section h2{
            margin-bottom: 3rem;
        }
    /* #endregion function section */

    /* #region consumers section */
    .consumers_section h2{
        width: 55%;
        padding: 1.5rem 0 1.5rem 0;
    }

    .consumers_section a{
        display: inline-block;
        color: var(--secondary_color);
        text-decoration: underline;
    }

    .consumers_section{
        margin-bottom: 3rem;
    }
    /* #endregion consumers section */

    /* #region brands section */
    .brands_section{
        width: 100vw;
        height: 450px;
        margin: auto;
    }

    .brands_aside{
        width: 30%;
        height: 100%;
    }

    .brands_main{
        width: 40%;
        height: 100%;
    }
        /* #region brands_aside */
        .brand_logo{
            width: 50%;
            height: 50%;
            position: relative;
        }

        .brand_logo img{
            width: 60%;
            position: absolute;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            left: 50%;
            filter: invert();
        }

        .designit{
            background-color: #A2D39B;
            border: 0.5rem solid #D0E9CD;
        }

        .arizona{
            background-color: #61082B;
        }

        .florida{
            background-color: #0093CE;
        }

        .topps{
            background-color: #FF1C1C;
        }

        .bicycle{
            background-color: #D5001F;
        }

        .hearst{
            background-color: #B4D0E7;
        }

        .planet{
            background-color: #0D2481;
        }

        .clear_ch{
            background-color: #FFD830;
        }
        /* #endregion brands_aside */

        /* #region brands_main */
        .brands_main{
            background-color: #F5F5F5;
            padding: 2rem;
        }

        .designit_logo img{
            width: 120px;
            padding-bottom: 2rem;
            padding-top: 1rem;
        }

        cite{
            font-style: normal;
            font-weight: 500;
        }
        /* #endregion brands_main */
    /* #endregion brands section */

    /* #region call to action section */
    .call_to_action_section{
        background-color: var(--primary_color);
    }

    .call_to_action_section .md_container{
        padding: 7rem 0 7rem 0;
    }

    .call_to_action{
        width: 65%;
        padding-right: 6rem;
        color: var(--prominence_color);
    }

    .call_to_action_btn{
        width: 35%;
    }

    .call_to_action_btn a{
        display: inline-block;
        background-color: white;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        color: black;
    }

    /* #endregion call to action section */

    /* #region faq section */
    .faq_section{
        padding: 7rem 0 7rem 0;
    }

    .faq_section h3{
        padding-bottom: 3rem;
        border-bottom: 1px solid lightgray;
    }

    .question{
        padding: 2.25rem 0 2.25rem 0;
        border-bottom: 1px solid lightgrey;
    }

    .question>strong{
        width: 95%;
    }

    .faq_arrow{
        width: 5%;
    }
    /* #endregion faq section */
/* #endregion main */

/* #region footer properties */
#site_footer{
    background-color: var(--dark_color);
    color: white;
    padding-bottom: 2.5rem;
}

.menu_container{
    padding: 7rem 0 7rem 0;
}

.menu{
    width: 20%;
}

.menu a{
    color: var(--light_color);
}

.menu h5{
    margin-bottom: 1.25rem;
}

.footer_content hr{
    width: 7rem;
}

.languages span, .languages .fa-caret-up{
    font-size: 12px;
}

/* #endregion footer */